<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://v4.pingendo.com/assets/bootstrap/themes/magenta.css" rel="stylesheet" type="text/css">

</head>

<body>
  <nav class="navbar navbar-full navbar-light bg-faded">

    <ul class="nav navbar-nav pull-right">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">機能</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">測定領域</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ログイン</a>
      </li>
    </ul>
  </nav>
  <div class="section section-fill-height section-opaque-dark">
    <div class="background-image background-image-fixed" style="background-image : url('http://v4.pingendo.com/assets/photos/food/cover-1.jpg')"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-offset-md-2 text-left">
          <h1 class="display-1  text-inverse">RESTAURANT</h1>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12"><a href="#" class="btn btn-block btn-primary">1ヶ月間無料で試す</a></div>
      </div>
    </div>
  </div>


  <div class="p-y-3 section text-xs-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="display-4 text-primary">AT2が提供するバリュー</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <i class="fa fa-5x fa-fw fa-star m-y-3 text-info"></i>
          <h1>自社に最適な候補者を見つける</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua&nbsp;Ut enim ad minim veniam, quis nostrud</p>
        </div>
        <div class="col-lg-4">
          <i class="fa fa-5x fa-fw fa-heart m-y-3 text-info"></i>
          <h1>従業員の適材適所を実現させる</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua&nbsp;Ut enim ad minim veniam, quis nostrud</p>
        </div>
        <div class="col-lg-4">
          <i class="fa fa-5x fa-cloud fa-fw m-y-3 text-info"></i>
          <h1>会社・組織のカルチャーを把握する</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua&nbsp;Ut enim ad minim veniam, quis nostrud</p>
        </div>
      </div>
      <div class="row" draggable="true">
        <div class="col-lg-6"><a href="#" class="btn btn-block btn-primary">１ヶ月間無料で試す</a></div>
        <div class="col-lg-6"><a href="#" class="btn btn-block btn-primary">資料のダウンロード</a></div>
      </div>
    </div>
  </div>
  <div class="p-y-3 section text-xs-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="display-4 text-primary">適性診断のデータを利用して既存社員の活用</h1>
        </div>
      </div>

    </div>
  </div>
  <div class="p-y-3 section text-xs-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="display-4 text-primary">自社に合致する人材の採用</h1>
        </div>
      </div>

    </div>
  </div>
  <div class="p-y-3 section text-xs-center">
    <div class="container">
      <div class="row">

      </div>
      <div class="row">
        <div class="col-lg-4">
          <i class="fa fa-5x fa-fw fa-star m-y-3 text-info"></i>
          <h1>すぐに診断結果が把握できる</h1>
          <p>９８問の質問項目、約20分間の</p>
          <div>診断で結果をすぐに見ることができます。</div>
          <p></p>
        </div>
        <div class="col-lg-4">
          <i class="fa fa-5x fa-fw fa-heart m-y-3 text-info"></i>
          <h1>多様なデバイスでの対応</h1>
          <p>パソコンのほかタブレットやスマートフォンなどインターネットにアクセスできる端末であれば使用できます</p>
        </div>
        <div class="col-lg-4">
          <i class="fa fa-5x fa-cloud fa-fw m-y-3 text-info"></i>
          <h1>導入コストが安い<br><br></h1>
          <p>１回あたりの診断が2000他社の適性診断と比べて半額程度で導入可能です</p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-y-3 section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-xs-center">
          <h1 class="display-4 text-primary">AT2の特徴</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card-deck-wrapper">
            <div class="card-deck">
              <div class="card">
                <img class="card-img-top img-fluid" src="http://v4.pingendo.com/assets/photos/wireframe/photo-1.jpg" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title">すぐに診断結果が把握できる</h4>
                  <p>９８問の質問項目、約20分間の</p>
                  <div>診断で結果をすぐに見ることができます。</div>
                  <p></p>

                </div>
              </div>
              <div class="card">
                <img class="card-img-top img-fluid" src="http://v4.pingendo.com/assets/photos/wireframe/photo-2.jpg" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title">多様なデバイスでの対応</h4>
                  <p>パソコンのほかタブレットやスマートフォンなどインターネットにアクセスできる端末であれば使用できます</p>

                </div>
              </div>
              <div class="card">
                <img class="card-img-top img-fluid" src="http://v4.pingendo.com/assets/photos/wireframe/photo-3.jpg" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-title">導入コストが安い</h4>
                  <p>１回あたりの診断が2000他社の適性診断と比べて半額程度で導入可能です</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" draggable="true">
        <div class="col-lg-6"><a href="#" class="btn btn-block btn-primary">１ヶ月間無料で試す</a></div>
        <div class="col-lg-6"><a href="#" class="btn btn-block btn-primary">資料のダウンロード</a></div>
      </div>
    </div>
  </div>
  <div class="p-y-3 section text-xs-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="display-4 text-primary">システム利用までの流れ</h1>
        </div>
      </div>

    </div>
  </div>
  <div class="p-y-3 section text-xs-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="display-4 text-primary">さぁやろう</h1>
        </div>
      </div>
      <div class="row" draggable="true">
        <div class="col-lg-6"><a href="#" class="btn btn-block btn-primary">Button</a></div>
        <div class="col-lg-6"><a href="#" class="btn btn-block btn-primary" draggable="true">Button</a></div>
      </div>

    </div>
  </div>

  <div class="bg-faded p-y-0 section">
    <div class="container-fluid"></div>
  </div>

  <div class="bg-faded p-y-3 section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="pi-draggable pi-item">COMPANY</h1>
          <p>
            <strong>Company name, Inc.</strong>
            <br>795 Folsom Ave, Suite 600
            <br>San Francisco, CA 94107
            <br>
            <abbr title="Phone">P:</abbr>(123) 456-7890</p>
          <div class="m-y-2 m-y-lg row text-center">
            <div class="col-xs-4 text-left">
              <a><i class="fa fa-3x fa-facebook text-primary"></i></a>
            </div>
            <div class="col-xs-4 text-left">
              <a><i class="fa fa-3x fa-twitter text-primary"></i></a>
            </div>
            <div class="col-xs-4 text-left">
              <a><i class="fa fa-3x fa-instagram text-primary"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h1 class="pi-draggable pi-item" draggable="true">CONTACT</h1>
          <form>
            <fieldset class="form-group">
              <label for="exampleInputEmail1">Your name</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Your name">
            </fieldset>
            <fieldset class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-faded p-y-0 section" draggable="true">
    <div class="container-fluid"></div>
  </div>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>


</body>

</html>
